
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>TEST PROJECT</title>
</head>
<body>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="underscore.js"></script>
	<script type="text/javascript" src="getJSON.js"></script>

	<script id="button" type="text/x-template">
		<input type="button" value="<%- value %>" onClick="<%- func %>()">
	</script>
	<script id="text" type="text/x-template">
		<input id="text1" type="text">
	</script>

	<h2>Great Good Game</h2>

	<div id="count">
	</div>

	<div id="input">
	</div>

	<div id="submmit">
	</div>
	
	<div id="logs">
	</div>


</body>
</html>

